*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}
    
    

#green-background-bar{
    width: 100%;
    height: 70px;
    background-color: #009688;
}

#app{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    
}


#app .contacts{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    
}

#app .contacts .profile-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    background-color:  #f3eeea;
    border-right: 1px solid rgba(211, 211, 211, 0.4);
}

#app .contacts .profile-container #left-profile-container{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    padding: 5px;
    font-size: 10px;
    
} 

#app .contacts .profile-container #left-profile-container img{
    height: 100%;
    border-radius: 50%;
}

#app .contacts .profile-container #right-profile-container{
    display: flex;
    gap: 5px;
    padding: 10px;
    font-size: 10px;
    color: rgba(128, 128, 128, 0.6);
}

#app .contacts .desktop-notifications{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 40px;
    padding: 0 5px;
    background-color: #8edafc;
}

#app .contacts .desktop-notifications #desktop-notifications-bell{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    color: #8edafc;
}

#app .contacts .desktop-notifications #desktop-notifications-text{
    display: flex;
    flex-direction: column;
    font-size: 8px;
    
}

#app .contacts .search-user-input{
    display: flex;
    width: 100%;
    height: 20px;
    padding: 2px;
    
    background-color: white;
}

#app .contacts .search-user-input #search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border: 1px solid rgba(211, 211, 211, 0.4);
    border-right: none;
}

#app .contacts .search-user-input #search-icon i{
    font-size: 8px;
    color: gray;
}

#app .contacts .search-user-input input{
    flex-grow: 1;
    outline: none;
    border: 1px solid rgba(211, 211, 211, 0.4);
    font-size: 8px;
    padding: 0 2px;
}


#app .contacts #search-user-error{
    text-decoration: underline;
    color: blue;
    font-size: .6em;
    text-align: center;
    padding: 10px;
}


#app .contacts .user-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.4);
}
    
#app .contacts .user-container:hover{
    background-color: lightgray;
    cursor: pointer;
}

.active{
    background-color: lightgray;
}
    

#app .contacts  #users{
    flex-grow: 1;
    overflow: auto;
}


#app .contacts  #users #chat-date{
    position: absolute;
    top: 5px;
    right: 10px;
}

#app .contacts .user-container .left-user{
    display: flex;
    align-items: center;
    gap: 5px;
}

#app .contacts .user-container .left-user #user-img{
    margin-left: 5px;
    height: 80%;
}

#app .contacts .user-container .left-user #user-img img{
    
    height: 100%;
    border-radius: 50%;
}

#app .contacts .user-container .left-user #user-info{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

#app .contacts .user-container .right-user{
    font-size: 10px;
    padding-top: 5px;
    margin-right: 5px;
}

#app .chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    background-color: lightpink;
}

#app .chat .up-chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background-color: #f3eeea
}


#app .chat .up-chat .right-up-chat{
    display: flex;
    gap: 10px;
    height: 100%;
    background-color: #f3eeea;
    
}

#app .chat .up-chat .right-up-chat #active-user-img{
    height: 100%;
    padding: 5px 5px;
}

#app .chat .up-chat .right-up-chat #active-user-img img{
    height: 100%;
    border-radius: 50%;
}

#app .chat .up-chat .right-up-chat #active-user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
}


#app .chat .up-chat .left-up-chat{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    font-size: 10px;
    padding: 10px;
    color: rgba(128, 128, 128, 0.6);
    
}

#app .chat .chat-area{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    padding: 10px 0;
    overflow: scroll;
    overflow-x: hidden;
    background-image: url("/img/mine.jpg")
    
}

#app .chat .chat-area #message-text{
    display: flex;
    position: relative;
    width: 200px;
    padding: 10px 7px 15px 7px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 0 40px;
    color: rgba(0, 0, 0, 0.8);
   
}


#app .chat .chat-area div#message-time{
   
   position: absolute;
   bottom: 0;
   right: 5px;
   font-size: .8em;
   color: gray;
   padding: 2px;
   
    
    
}

 .received{
    background-color: white;
    align-self: flex-start;
    font-size: 10px;
}

.sent{
    background-color: #d5f9ba;
    align-self: flex-end;
    font-size: 10px;
}

#app .chat .bottom-chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 30px;
    font-size: .7em;
    padding: 20px 10px;
    color: gray;
    background-color: #f3eeea;
}
#app .chat .bottom-chat input{
    flex-grow: 1;
    padding: 5px 6px;
    font-size: 10px;
    outline: none;
    border: 0px solid transparent;
    border-radius: 5px;
    
}



