<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    
<main>
        
        <div id="green-background-bar">
    
        </div>
   

    <div id="app">
    
        
            <div class="contacts">
                <div class="profile-container">

                    <div id="left-profile-container">
                        <img src="img/avatar_io.jpg" alt="">
                        <span>Sofia</span>
                    </div>

                    <div id="right-profile-container">
                        <i class="fa-solid fa-rotate-right"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </div>

                <div class="desktop-notifications">

                    <div id="desktop-notifications-bell">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>

                    <div id="desktop-notifications-text">
                        <span style="font-weight: bold;">Ricevi notifiche di nuovi messaggi</span>
                        <a href="">Attiva notifiche desktop</a>
                    </div>

                </div>

                <div class="search-user-input">
                    <div id="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchValue">
                </div>

                <div v-if="usersList[activeChat] == undefined" id="search-user-error"> Non esistono conversazioni o chat </div>
                <div id="users" v-else>
                    <div v-for="(elemento, indice) in usersList" class="user-container" :class="activeChat == indice ? 'active' : '' " @click="showActiveChat(indice)" >
                        <div class="left-user">
    
                            <div id="user-img">
                                <img :src="elemento.avatar" alt="">
                            </div>
                            <div id="user-info">
                                <span>{{elemento.name}}</span>
                                <span id="last-message" style="font-size: 8px; opacity: .5;">{{elemento.messages[elemento.messages.length - 1].message}}</span>
                            </div>
                        </div>
                        <div class="right-user">
                            <span style="font-size: 6px; opacity: .5;" id="chat-date">{{elemento.messages[elemento.messages.length - 1].date}}</span>
                        </div>
    
                    </div>

                </div>
                
                

            </div>

            <div class="chat">
                <div class="up-chat">
                    <div class="right-up-chat">
                        <div id="active-user-img">
                            <img :src=" usersList[activeChat] == undefined ? '' : usersList[activeChat].avatar " alt="">
                        </div>
                        <span v-if="usersList[activeChat] == undefined "> </span>
                        <div id="active-user-info" v-else>
                            <span>{{usersList[activeChat].name}}</span>
                            <span  style="font-size: 8px; opacity: .5;">Ultimo Accesso : {{usersList[activeChat].messages[usersList[activeChat].messages.length - 1].date}}</span>
                        </div>
                    </div>
                    <div class="left-up-chat">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i> 
                    </div>

                </div>
                <div class="chat-area" ref="container">
                    <div v-if="usersList[activeChat] == undefined ">
                        
                    </div>

                    <div v-else v-for="(elemento,indice,) in usersList[activeChat].messages" :class="elemento.status == 'sent' ? 'sent' : 'received' " id="message-text"> 

                        {{elemento.message}}
                        <div id="message-time">{{elemento.date}}</div>
                    </div>
                </div>
                <div class="bottom-chat">
                    <div>
                        <i class="fa-regular fa-face-smile"></i>
                    </div>

                        <input  type="text" placeholder="Invia un messaggio"   v-model="newMessage.message" @keyup.enter="createMessage(activeChat),automaticMessage(activeChat), scrolling() ">
                    
                    <div>
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        
    
    </div>
</main>    


    

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>